
<html>
<body style="background:#000080;">
<table align="center" height="30" width="800" cellpadding="2">
<tr style="font-family:centaur; color:white">
<td><h3 style="text-align:center;"><u>Important Links:</u><br><a href="vote.html">Vote<br><a href="download.html">Download<br>Feedback</h3></td><br><br>
<td><h3 style="text-align:center;"><u>Policies:</u><br>T&C<br>Disclaimer</h3></td>
<td><h3 style="text-align:center;"><u>Help Desk</u><br>Phone:1800-2345-8976<br>Email:indiagovvoting@gmail.com</td>
</tr></table>
</body>
</html>

