<!DOCTYPE html>
<html>
<body>
<img src="download.jpg" style="width:50%">
<h1>Nationalist Congress Party (NCP)</h1>
<p>Founded by Sharad Pawar after splitting from the Indian National Congress in 1999,
the Nationalist Congress Party (NCP) is contesting the 2019 Lok Sabha elections in alliance with the Rahul Gandhi-led Congress party.
 
Among the founding members of NCP besides Pawar were P A Sangma and Tariq Anwar.
The party was formed as a repercussion of the expulsion of Pawar and Sangma from Congress after they opposed the appointment of Sonia Gandhi as the leader of the Congress over the issue of her foreign origins.
 
However, when the United Progressive Alliance (UPA) came to power in 2004, 
NCP supported the Congress and Pawar was given charge of the Union agriculture ministry. 
NCP, which is mostly influential in Maharashtra, 
will have a key role to play in the state to take on the stiff challenge posed by the BJP-Shiv Sena alliance.
 
The party at present has seven seats in the Lok Sabha and four in the Rajya Sabha. 
Since Sharad Pawar and Ajit Pawar will not be contesting in the 2019 general elections, 
it will be interesting to see how NCP performs. Among the key leaders of NCP are Sharad Pawar, his daughter Supriya Sule and nephew Ajit Pawar.</p>

</body>
</html>
