</head>
<center>
<body style="font-size:16;font-family:Imprint MT 
shadow" align="center">
<dl style="font-size:24;color:blue;font-family:Imprint MT 
shadow;textalign:center"><u><b>Bharatiya Janata Party(BJP)</b></u></dl>

<img src="BJP.jpg" height="250" width="250">

<p>The Bharatiya Janata Party, often known as the "Indian People's Party" (BJP); 
is one of the two main political parties in India, along with the Indian National Congress. 
Under the current Indian prime minister, Narendra Modi, it has been the dominant political force since 2014.

The BJP is associated with right-wing politics, and its past actions have been consistent with a traditional Hindu nationalist philosophy.
It is also closely associated with the Rashtriya Swayamsevak Sangh both ideologically and organizationally (RSS). 
In terms of seats in the Indian Parliament and state legislatures as of February 2022,
it is the largest political party in the nation.

The party's origins lie in the Bharatiya Jana Sangh, which was founded in 1951 by Indian politician Shyama Prasad Mukherjee.

The Bharatiya Jana Sangh, also referred to as the Jana Sangh, was the forerunner of the BJP. 

The Jana Sangh opposed what it saw as the Congress party 
and then-Prime Minister Jawaharlal Nehru's appeasement of Muslims and the nation of Pakistan in addition to defending India's "Hindu" cultural identity.

In order to help the Jana Sangh get off the ground, the RSS loaned the Jana Sangh a number of its top pracharaks, or full-time employees. The most notable of these
Deendayal Upadhyaya was chosen to serve as general secretary. In the first general elections, held in 1952, the Jana Sangh received just three seats in the Lok Sabha. 
It remained a small player in the legislature until 1967.

The NDA secured 336 seats in the 543-seat Lok Sabha after the BJP won 282 seats in the general election in India in 2014.
On May 26, 2014, Narendra Modi took the oath of office as India's fourteenth prime minister.
The BJP received 31% of all votes cast, a small percentage given the number of seats it won.   
This was the first time a single party had won an overall majority in the Indian Parliament since 1984 and the first time it had done so in the Lok Sabha. 
In North-Central India, support was concentrated in the Hindi-speaking region.  Most opinion and exit polls did not foresee the size of the triumph.
</p>

</center>
</body>
</html>