<html>
<head>
<title>home</title>
</head>
<center>
<body style="font-size:16;font-family:Imprint MT 
shadow" align="center">
<dl style="font-size:24;color:blue;font-family:Imprint MT 
shadow;textalign:center"><u><b>Bahujan Samaj Party(BSP)</b></u></dl>

<img src="bsp.jpg" height="250" width="250">


<p>The Scheduled Castes, Scheduled Tribes, and Other Backward Classes (OBC) as well as religious minorities are together referred to as Bahujans (literally, 
"community in majority"). The Bahujan Samaj Organization (BSP) is a national level political party in India. 
The Bahujans, who made up 85% of India's population when Kanshi Ram created the party in 1984, were split into 6,000 separate castes, according to Ram. 
The party claims to draw inspiration from the teachings of Narayana Guru, Periyar E. V. Ramasamy, B. R. Ambedkar, Mahatma Jyotiba Phule, Gautama Buddha, 
and Chhatrapati Shahuji Maharaj. 

On April 14, 1984, B. R. Ambedkar's birthday, Kanshi Ram created the Bahujan Samaj Party. Mayawati, a former schoolteacher,
was named as Kanshi Ram's successor as BSP in 2001. With seats in the lower chamber of the Indian Parliament, the Lok Sabha, 
as well as the Legislative Assembly of Uttar Pradesh, the party's influence rose swiftly. Following the assembly elections in 1993,
Mayawati and Mulayam Singh Yadav, the leader of the Samajwadi Party, formed a coalition.

The BSP received 4.2% of the vote nationwide in the 2014 national Lok Sabha elections, making it the third-largest national party in India, but it won no seats.
BSP established a Mahagathbandhan ahead of the 2019 Lok Sabha elections. The Gathbandhan (Alliance), sometimes known as the Mahagathbandhan (or Grand Alliance),
is an anti-Congress and anti-BJP group. An Indian political coalition was created ahead of the 2019 general election under 
the leadership of Akhilesh Yadav of the Samajwadi Party and Mayawati of the Bahujan Samaj Party, 
as well as Ajit Singh's Rashtriya Lok Dal and a number of other political parties running in various Indian states. 

In the 2019 Indian General Elections, the Mahagathbandhan won 15 seats out of 80 in Uttar Pradesh.
</p>

</center>
</body>
</html>