<html>
<head>
<title>home</title>
</head>
<center>
<body style="font-size:16;font-family:Imprint MT 
shadow" align="center">
<dl style="font-size:24;color:blue;font-family:Imprint MT 
shadow;textalign:center"><u><b>Communist Party Of India (CPI)</b></u></dl>

<img src="communist.jpg" height="250" width="350">

<p>One of India's eight national parties and the country's oldest communist organizations is the Communist Party of India (CPI).   
On December 26, 1925, the CPI was established in Kanpur, then known as Cawnpore. 

At the first Party Conference in Kanpur, then known as Cawnpore, on December 26, 1925, the Communist Party of India was established.
The organisation was founded by M. N. Roy, Evelyn Trent, Abani Mukherji, and M. P. T. Acharya.

The first General Secretary of the CPI was S.V. Ghate. Numerous communist organisations were started by Indians with the assistance of foreigners throughout the world, 
including the Tashkent group of contacts with the Anushilan and Jugantar groups in Bengal, as well as smaller organisations in Bombay, Madras, the United Provinces, Punjab,
Sindh, and Bengal, led by S.A. Dange, Singaravelu Chettiar, and Ghulam Hussain.

CPI is recognised by the Election Commission of India as a 'National Party'. 
To date, CPI happens to be the only national political party from India to have contested all the general elections using the same electoral symbol.
Owing to a massive defeat in 2019 Indian general election where the party saw its tally reduced to 2 MPs, 
the Election Commission of India has sent a letter to CPI asking for reasons why its national party status should not be revoked.
If similar performance is repeated in the next election, the CPI will no longer be a national party.
</p>

</center>
</body>
</html>