<html>
<head>
<title>home</title>
</head>
<center>
<body style="font-size:16;font-family:Imprint MT 
shadow" align="center">
<dl style="font-size:24;color:blue;font-family:Imprint MT 
shadow;textalign:center"><u><b>The Indian National Congress (INC)</b></u></dl>
<img src="congress.jpg" height="250" width="350">


<p>The Indian National Congress (INC), colloquially the Congress Party but often simply the Congress,
is a political party in India with widespread roots.[29] Founded in 1885,
it was the first modern nationalist movement to emerge in the British Empire in Asia and Africa.

From the late 19th century, and especially after 1920, under the leadership of Mahatma Gandhi, 
the Congress became the principal leader of the Indian independence movement.
The Congress led India to independence from the United Kingdom and significantly influenced other anti-colonial nationalist movements in the British Empire.

The Congress Working Committee (CWC) decided to hold the 2022 INC Presidential Election on August 28, 2022. If necessary, the counting will happen on October 19,
2022, after the election on October 17, 2022. On September 22, 2022, an official notification of the election was released.

Along with its primary adversary, the Bharatiya Janata Party, Congress is one of India's two main political parties.
It is a "big tent" party whose ideology is typically regarded as falling somewhere between the centre and center-left in Indian politics.
Following the 1947 declaration of Indian independence, Congress arose as a universalist and secular party and dominated Indian politics for the following 20 years.
The Congress was persuaded to adopt socialist ideals by the party's first prime minister, Pandit Jawaharlal Nehru, who established the Planning Commission, 
introduced Five-Year Plans, put a mixed economy into place, and established a secular state. After Lal Bahadur Shastri's brief presidency and Nehru's passing, 
Indira Gandhi took over as the party's leader.</p>

</center>
</body>
</html>