<html>
<head>
<title>home</title>
</head>
<center>
<body style="font-size:16;font-family:Imprint MT 
shadow" align="center">
<dl style="font-size:24;color:blue;font-family:Imprint MT 
shadow;textalign:center"><u><b>National people's party (NPP)</b></u></dl>

<img src="National_People's_Party.jpg" height="250" width="350">

<p>The National People's Party is a state-level political party in India, but Meghalaya is where it has the most impact.
P. A. Sangma created the party after being kicked out of the NCP in July 2012.

On June 7, 2019, it received national party recognition.
This rank has only been acquired by one political party from Northeastern India.


P. A. Sangma officially started the party on a nationwide scale in January 2013.
He declared that his party would join forces with the Bharatiya Janta Party-led National Democratic Alliance.
Sangma also emphasised that although anyone can join the celebration, it will be a tribal-centric affair.

A book is its electoral emblem.

The relevance of this is that the party holds the view that the lower parts can only be empowered by literacy and education.

In the 2014 Loksabha elections, the party took Tura, and Sangma was elected as an MP. P. A. Sangma's son Conrad Sangma won the subsequent by-election, which was conducted in May 2016, from this seat.</p>

</center>
</body>
</html>
