<html>
<head>
<title>home</title>
</head>
<center>
<body style="font-size:16;font-family:Imprint MT 
shadow" align="center">
<dl style="font-size:24;color:blue;font-family:Imprint MT 
shadow;textalign:center"><u><b>Trinamool Congress(TC)</b></u></dl>

<img src="All_India_Trinamool_congress_flag.jpg" height="250" width="350">

<p>
The All India Trinamool Congress, sometimes known as the Trinamool Congress or simply TMC,
is an Indian political party that mostly operates in West Bengal. Its full name is the All India Grassroots Congress.
Mamata Banerjee, who has served as West Bengal's chief executive since 2011, is the party's leader. With 230 MLAs in State Legislative Assemblies of India,
23 members in the Lok Sabha, 13 members in the Rajya Sabha, and third largest party in Parliament behind the BJP and INC.   
The TMC was recognised as a national political party by the Election Commission in 2016.

Mamata Banerjee founded the TMC in 1998 after more than 26 years as a member of the Indian National Congress (INC). 
Jora Ghas Phul is the TMC's recognised electoral symbol (two flowers with grass). TMC garnered 7 seats in the 1998 Lok Sabha elections. 
Trinamool Congress gained one more seat in the 1999 Lok Sabha election by teaming up with the BJP to win 8 seats. 
The TMC prevailed in the Kolkata Municipal Corporation Elections in 2000.

The party initially joined the National Democratic Alliance (NDA), as part of the Vajpayee government, 
and were initially quite successful, winning 7 seats in its first election in 1998.

The TMC-led coalition, which also comprised the INC and SUCI(C), defeated the 34-year-old Left Front government in the 2011 election for 
the West Bengal Legislative Assembly by winning 227 of the assembly's 294 seats.  TMC was able to rule on its own after winning 184 seats. 
It then obtained a total of 187 seats after winning a by-election in Basirhat and losing two Congress MLAs to the TMC. 
Banerjee, who was an MP at the time, had to shift to the secure district of Bhabanipur because she had not run for office. 

The TMC dominated the state in the 2014 Lok Sabha elections, taking 34 of the 42 seats.
Because the TMC received 6% of the vote from five separate states, it was also eligible to become a national party (West Bengal, Manipur, Tripura, Jharkhand and Assam).  
The Election Commission recognised TMC as a national political party on September 2, 2016.
</p>

</center>
</body>
</html>